@font-face {
    font-family: Manrope;
    src: url(../font/Manrope-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none !important;
}

body {
    background-color: #1f2128;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(#444444, #333333);
    color: #bbbbbb;
}

#header_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

#page {
    display: flex;
    height: calc( 100vh - 30px);
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background: red;
}

#sidebar_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
    flex: 1 0 auto;
}

#main_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}